.home-page-wrap {
  width: 100%;
  height: 100%;
  .content-area {
    padding: 0;
    display: flex;
    position: relative;

    .navigate-wrap {
      width: auto;
      height: 100vh;
      top: 0;
      position: sticky;
      position: -webkit-sticky;
    }
    .main-wrap {
      flex: 4;
      height: 100vh;

      .main-content-area {
        padding: 20px;
      }
    }
  }
  .login-or-signup-area {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      color: rgb(255, 255, 255);
      padding-bottom: 10px;
    }
  }
}
